*{
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

#producto {
    background:/*linear-gradient(to top, rgba(80,68,18,0.6) 10%, transparent),*/ url("images/wallpaper.jpg") left top / cover no-repeat border-box;
    /*background-image: url("wallpaper.jpg");
    background-size: cover;
    background-position: left top ;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box;*/
    /*background-image: linear-gradient(188deg, black, white,rgba (0,0,0,0.4));*/
    /*background-image: radial-gradient(circle at left,red,blue);*/
    background-position: center;
    width: 100% ;
    height: 100vh;
    padding: 10px;
    margin-top: 40px;
    /*border: dashed red;*/
    position: relative;

}


.titulo-seccion {
    color: #ffffff;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin-top: 0;
    padding-top: 15px;
}


#producto h1 {
    color: lavender;
    font-family: 'Rubik', sans-serif;
    position:absolute;
    top: 3%;
    left: 5%;
}

/*#consolas {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}*/

/*.cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}*/



.cards {
    background-image: url(images/foto2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

li {
    text-align: center;
}

.plataforma {
    background: grey;
    /*display: inline-block;*/
    width: 22rem;
    padding: 1rem;
    /*box-sizing: border-box;*/
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.plataforma--ordenador {
    background: #7822da;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.plataforma--ordenador {
    background: black
}

.plataforma--ordenador:hover,
.plataforma--ordenador:active {
    background: #7822daaf;
    color: white;
    border: none;
}

/*.plataforma_ordenador{
    background: black;
    color: white;
    padding: 0.5rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}*/

.plataforma--xbox {
    background: black;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.plataforma--xbox:hover,
.plataforma--xbox:active {
    background: #0a940aad;
    color: white;
    border: none;
}

.plataforma--psn {
    background: black;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.plataforma--psn:hover,
.plataforma--psn:active {
    background: #0938d1a8;
    color: white;
    border: none;
}
.plataforma_title {
    /*background: black;*/
    /*color: white;*/
    padding: 0.5rem;
    /*box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 
 
.psn {
    color: #4f77fa;
}



.xbox {
    color: #22e922;
}


.ordenador {
    color: #c28cff ;
}

.plataforma_promo {
    color:#ffd900;
    font-size: 130%;
}


.plataforma_caracteristicas {
    list-style: none;
    padding: 0;
    margin: 0;
}

.plataforma_caracteristica {
    margin: 0.5rem 0;
}

.boton {
    display: flex;
    justify-content: center;
}

.button {
    background: white;
    color: black;
    font: inherit;
    font-weight: bold;
    /*border: 1.5px solid white;*/
    padding: 0.5rem;
    margin-top: 5%;
    border-radius: 8px; 
    cursor: pointer;
    margin: 2rem
}

.button:hover,
.button:active {
    background: black;
    color: white;
    border: none;
}

.button:focus {
    outline: none;
}

.mostrar {
    display: none;
}

/*--media quires--*/

@media screen and (min-width: 50rem){

    .cards {
        display: flex;
        flex-wrap: wrap;
    }

    .cards-container {
        max-width: 100rem;
        margin: 0;
        text-align: center;
        display: flex;
        flex-flow: row wrap;

}    
    .plataforma {
        /*display: flex;
        align-items: center; 
        justify-content: center;
        width: 90%;*/
        max-width: 13rem; 
        margin: 1.5rem;
        padding: 1.5rem;
        flex-basis: 100%
    }

    .plataforma h1{
        font-size: 1.2rem;
    }

    .plataforma h2{
        font-size: 1rem;
    }

    .plataforma h3{
        font-size: 0.9rem;
    }

    .plataforma li{
        font-size: 0.8rem;
    }

    .cards {
        background-image:url(images/foto1.jpg) ;
    }

    .button {
        font-size: 0.9rem;
    }

}

@media screen and (min-width: 80rem){

    .mostrar{
        display: flex;
    }

    .cards-container {
        max-width: 200rem;
        margin: 0;
        text-align: center;
        display: flex;
        flex-wrap: nowrap;
}    
    .plataforma {
        width: 11%;
        padding: 1.5rem;
        margin: 1rem;
    }

    .plataforma h1{
        font-size: 1rem;
    }

    .plataforma h2{
        font-size: 0.9rem;
    }

    .plataforma h3{
        font-size: 0.7rem;
    }

    .plataforma li{
        font-size: 0.6rem;
    }

    .cards {
        background-image:url(images/foto3.jpg) ;
    }

    .button {
        font-size: 0.7rem;
    }

}

#caracteristicas_clave {
    background:black;
    margin-top: 0;
    padding: 1rem;
}

#caracteristicas_clave .titulo-seccion {
    color: white;
    margin: 2rem;
}

.caracteristicas_claves_lista {
    list-style: none;
    margin-top: 0;
    padding: 0;
    text-align: center;
}

.caracteristicas_claves {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.caracteristicas_claves-imagen {
    background: black;
    width: 128px;
    height: 128px;
    border: 2px solid red;
    border-radius: 50%;
    margin: auto;
    padding: 1.3rem;
}

.caracteristicas_claves-descripcion {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 1.25rem;
}

/*h1 {
    font-family: 'Rubik', sans-serif;
}*/

.modal {
    position: fixed;
    display: none;
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: #282826;
    padding: 1rem;
    /*border: 1px solid #ccc;*/
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.modal_titulo {
    color: white;
    text-align: center;
    margin: 0 0 1rem 0;
}

.modal_actions {
    text-align: center;
}

.modal_action {
    border: 1px solid green;
    background: green;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.modal_action:hover,
.modal_action:active {
    background: #24f140;
    border-color: #24f140;
}

.modal_action-negative {
    background: #940c12;
    border-color: #940c12;
}

.modal_action-negative:hover,
.modal_action-negative:active {
    background: red;
    border-color: red;
}

#Isolation_Mode {
    fill: white;
} 