*{
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

#producto {
    background:linear-gradient(to top, rgba(80,68,18,0.6) 10%, transparent), url("images/wallpaper.jpg") left top / cover no-repeat border-box;
    /*background-image: url("wallpaper.jpg");
    background-size: cover;
    background-position: left top ;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box;*/
    /*background-image: linear-gradient(188deg, black, white,rgba (0,0,0,0.4));*/
    /*background-image: radial-gradient(circle at left,red,blue);*/
    width: 100vw ;
    height: 40vh;
    padding: 10px;
    margin-top: 40px;
    /*border: dashed red;*/
    position: relative;

}


.titulo-seccion {
    color: #282826;
    text-align: center;
}


#producto h1 {
    color: lavender;
    font-family: 'Rubik', sans-serif;
    position:absolute;
    top: 3%;
    left: 5%;
    width: 100%;
}

#consolas {
    width: 80%;
    margin: auto;
    text-align: center;
}

.plataforma {
    background: grey;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

.plataforma--ordenador {
    background: #7822da;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.plataforma_ordenador{
    background: black;
    color: white;
    padding: 0.5rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.plataforma--xbox {
    background: #0a940a;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    
}

.plataforma--psn {
    background: #0938d1;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.plataforma_title {
    background: black;
    color: white;
    padding: 0.5rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
} 

.plataforma_promo {
    color:#ffd900;
    font-size: 130%;
}

.plataforma_caracteristicas {
    list-style: none;
    padding: 0;
    margin: 0;
}

.plataforma_caracteristica {
    margin: 0.5rem 0;
}

.button {
    background: white;
    color: black;
    font: inherit;
    font-weight: bold;
    border: 1.5px solid white;
    padding: 0.5rem;
    margin-top: 5%;
    border-radius: 8px; 
    cursor: pointer;
}

.button:hover,
.button:active {
    background: black;
    color: white;
    border: none;
}

.button:focus {
    outline: none;
}


#caracteristicas_clave {
    background:#282826 ;
    margin-top: 5rem;
    padding: 1rem;
}

#caracteristicas_clave .titulo-seccion {
    color: white;
    margin: 2rem;
}

.caracteristicas_claves_lista {
    list-style: none;
    margin-top: 0;
    padding: 0;
    text-align: center;
}

.caracteristicas_claves {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.caracteristicas_claves-imagen {
    background: grey;
    width: 128px;
    height: 128px;
    border: 2px solid red;
    border-radius: 50%;
    margin: auto;
    padding: 1.3rem;
}

.caracteristicas_claves-descripcion {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 1.25rem;
}

/*h1 {
    font-family: 'Rubik', sans-serif;
}*/

