body {
    background-color: black;
}

.coleccion {
    font-size: 1.2rem;
    margin: 3rem 0;
    padding: 3rem;
    text-align: center;
}

.coleccion_list{
    width: 80%;
    margin: auto
}

.coleccion:first-of-type {
    margin-top: 6rem;
}

.coleccion_imagen-container {
    width: 65%;
    max-width: 580px;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
}

.coleccion_imagen {
    width: 100%;
    vertical-align: top;

}

.coleccion_info {
    text-align: right;
    padding-top: 0.9rem;
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    text-align: justify;
    text-justify: distribute;
    text-align-last: left;
    padding-left: 0.8rem;
    padding-right: 0.8rem;

}

#juego-2.coleccion {
    text-align: center;

}

#juego-2 .colecciones_info {
    text-align: justify;
    text-justify: distribute;
    text-align-last: left;


}

#juego-2 .coleccion_imagen {
    box-shadow: -3px 3px 3px rgba(0,0,0,0.4);
}

#juego-1:hover,
#juego-1:active {
    background-color: rgba(218, 207, 228, 0.123);
}

#juego-2:hover,
#juego-2:active {
    background-color: rgba(218, 207, 228, 0.123);
}

#juego-3:hover,
#juego-3:active {
    background-color: rgba(218, 207, 228, 0.123);
}

.colecciones_titulo {
    color: white;
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
}

.colecciones_subtitulo {
    margin: 0;
    color: red;
    font-size: 1.1rem;
}

.colecciones_info {
    color: white;
    font-size: 0.9rem;
}

.colecciones_info {
    margin: 0.9rem 0;
}

