
.coleccion {
    font-size: 20px;
    margin: 48px 0;
}

.coleccion_list{
    width: 80%;
    margin: auto
}

.coleccion:first-of-type {
    margin-top: 96px;
}

.coleccion_imagen-container {
    width: 65%;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
}

.coleccion_imagen {
    width: 100%;
    vertical-align: top;
}

.coleccion_info {
    text-align: right;
    padding-top: 30px;
    display: inline-block;
    vertical-align: middle;
    width: 30%;
}

#juego-2.coleccion {
    text-align: right;
}

#juego-2 .coleccion_info {
    text-align: left;
}

#juego-2 .coleccion_imagen {
    box-shadow: -3px 3px 3px rgba(0,0,0,0.4);
}



.colecciones_titulo {
    color: black;
    font-weight: bold;
    font-size: 30px;
}

.colecciones_subtitulo {
    margin: 0;
    color: red;
    font-size: 15px;
}

.colecciones_info {
    color: black;
    font-size: 15px;
}

.colecciones_info {
    margin: 3px;
}

